.home-page {
    height: 100vh;
    display: flex;
    justify-items: center;
}

.home-content {
    margin-top: 150px;
}

.carousel-image {
    border-radius: 20px;
    width: 60%;
    height: 60%;
}
.carousel-control-prev, .carousel-control-next {
    display: none;
}
.carousel-indicators li {
    background-color: purple;
    opacity: 0.5;
}
.carousel-indicators li:active {
    opacity: 1;
}
.home-news {
    display: flex;
    flex-direction: column;
    margin: 40px auto auto;
    width: 81%;
}
.news-content {
    background-color: #f2f2f2;
    color: black;
    height: 300px;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.news-block {
    flex: 1 0 50%;
    text-align: justify;
    padding: 15px;
    border-bottom: 1px solid black;
}

.useful-info {
    height: 150px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F7BB07;
}

.okie-balance {
    flex-grow: 1;
}

.next-lessons {

}