.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
    padding: 15px;

}

.main-links {
    color: white;
    font-size: 18px;
    padding: 0 30px;
}

.user-balance, .auth-button {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}
