.navbar {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    box-shadow: inset 0px -12px 30px -20px rgba(255, 255, 255, 0.35), 0px 0px 30px 0px rgba(255, 255, 255, 0.35);
    padding: 15px;
}

.main-links {
    color: white;
    font-size: 18px;
    padding: 0 30px;
}

.side-links {
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

.user-balance, .auth-button {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

.user-info {
    display: flex;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.navbar-light .navbar-toggler:focus {
    outline: 0
}

#basic-navbar-nav {
    z-index: 10;
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar {
        position: unset;
        background: url("../../images/bg-geometry-blurred.png");

    }
    .user-info {
        display: unset;
    }
    .nav-link {
        text-align: justify;
        border-bottom: 1px solid rgba(247,116,130, 0.3);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    .nav-link:hover {
        background-color: rgba(247,116,130, 0.3);
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: unset;
    }
}

