.add-lesson-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.add-lesson-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
}
.add-lesson-input {
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 10px 40px;
}
.lesson-description-textarea {
    max-height: 100px;
}

@media (max-width: 991px), (max-height: 880px)  {
    .add-lesson-col {
       padding: 10px 20px;
    }
    .add-lesson-input {
        padding: 10px 10px;
    }
}


